#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.pin_image
				= image_tag @pin.image.url
			.panel-body
				%h1= @pin.title
				%p.description= simple_format(@pin.description)
			.panel-footer
				.row
					.col-md-6
						%p.user
							Added by
							= image_tag @pin.user.avatar.url(:thumb), class: "round-image-25"
							= @pin.user.email
					.col-md-6
						.btn-group.pull-right.red
							= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do
								%span.glyphicon.glyphicon-heart.red
								= @pin.get_upvotes.size
								= link_to "Home", root_path, class: "btn btn-default"
							- if user_signed_in?
								= link_to "Edit", edit_pin_path, class: "btn btn-default"
								= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"

